QLNS_Service/QLNS_WinForm/Service References/QLNS_ServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/QLNS_Service" />
  <xs:element name="myconnect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="myconnectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_NhanVien">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tenbang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_NhanVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Load_NhanVienResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_NhanVien">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="nv" nillable="true" type="q1:Cls_NhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_NhanVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_NhanVienResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_NhanVien">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="nv" nillable="true" type="q2:Cls_NhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_NhanVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_NhanVienResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_NhanVien">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="nv" nillable="true" type="q3:Cls_NhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_NhanVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_NhanVienResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_TrinhDo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_TrinhDoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Load_TrinhDoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_TrinhDo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="td" nillable="true" type="q4:Cls_TrinhDo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_TrinhDoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_TrinhDoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_TrinhDo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="td" nillable="true" type="q5:Cls_TrinhDo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_TrinhDoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_TrinhDoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_TrinhDo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="td" nillable="true" type="q6:Cls_TrinhDo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_TrinhDoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_TrinhDoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_CTTrinhDo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_CTTrinhDoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Load_CTTrinhDoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_CTTrinhDo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="cttd" nillable="true" type="q7:Cls_CTTrinhDo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_CTTrinhDoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_CTTrinhDoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_CTTrinhDo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="cttd" nillable="true" type="q8:Cls_CTTrinhDo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_CTTrinhDoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_CTTrinhDoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_CTTrinhDo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="cttd" nillable="true" type="q9:Cls_CTTrinhDo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_CTTrinhDoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_CTTrinhDoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_NgoaiNgu">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_NgoaiNguResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Load_NgoaiNguResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_NgoaiNgu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="nn" nillable="true" type="q10:Cls_NgoaiNgu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_NgoaiNguResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_NgoaiNguResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_NgoaiNgu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="nn" nillable="true" type="q11:Cls_NgoaiNgu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_NgoaiNguResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_NgoaiNguResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_NgoaiNgu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="nn" nillable="true" type="q12:Cls_NgoaiNgu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_NgoaiNguResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_NgoaiNguResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_CTNgoaiNgu">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_CTNgoaiNguResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Load_CTNgoaiNguResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_CTNgoaiNgu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="ctnn" nillable="true" type="q13:Cls_CTNgoaiNgu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_CTNgoaiNguResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_CTNgoaiNguResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_CTNgoaiNgu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="ctnn" nillable="true" type="q14:Cls_CTNgoaiNgu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_CTNgoaiNguResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_CTNgoaiNguResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_CTNgoaiNgu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="ctnn" nillable="true" type="q15:Cls_CTNgoaiNgu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_CTNgoaiNguResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_CTNgoaiNguResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_PhongBan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tenbang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_PhongBanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Load_PhongBanResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_PhongBan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="pb" nillable="true" type="q16:Cls_PhongBan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_PhongBanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_PhongBanResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_PhongBan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="pb" nillable="true" type="q17:Cls_PhongBan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_PhongBanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_PhongBanResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_PhongBan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="pb" nillable="true" type="q18:Cls_PhongBan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_PhongBanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_PhongBanResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_ChucVu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tenbang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_ChucVuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Load_ChucVuResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_ChucVu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="cv" nillable="true" type="q19:Cls_ChucVu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_ChucVuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_ChucVuResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_ChucVu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="cv" nillable="true" type="q20:Cls_ChucVu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_ChucVuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_ChucVuResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_ChucVu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="cv" nillable="true" type="q21:Cls_ChucVu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_ChucVuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_ChucVuResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_ThaiSan">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_ThaiSanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Load_ThaiSanResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_ThaiSan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="ts" nillable="true" type="q22:Cls_ThaiSan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_ThaiSanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_ThaiSanResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_ThaiSan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="ts" nillable="true" type="q23:Cls_ThaiSan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_ThaiSanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_ThaiSanResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_ThaiSan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="ts" nillable="true" type="q24:Cls_ThaiSan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_ThaiSanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_ThaiSanResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_HopDong">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tenbang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_HopDongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Load_HopDongResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_HopDong">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="hd" nillable="true" type="q25:Cls_HopDong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_HopDongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_HopDongResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_HopDong">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="hd" nillable="true" type="q26:Cls_HopDong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_HopDongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_HopDongResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_HopDong">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="hd" nillable="true" type="q27:Cls_HopDong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_HopDongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_HopDongResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_CTHopDong">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_CTHopDongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Load_CTHopDongResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_CTHopDong">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="cthd" nillable="true" type="q28:Cls_CTHopDong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_CTHopDongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_CTHopDongResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_CTHopDong">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="cthd" nillable="true" type="q29:Cls_CTHopDong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_CTHopDongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_CTHopDongResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_CTHopDong">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="cthd" nillable="true" type="q30:Cls_CTHopDong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_CTHopDongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_CTHopDongResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_PhanQuyen">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_PhanQuyenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Load_PhanQuyenResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_PhanQuyen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="pq" nillable="true" type="q31:Cls_PhanQuyen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_PhanQuyenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_PhanQuyenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_PhanQuyen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="pq" nillable="true" type="q32:Cls_PhanQuyen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_PhanQuyenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_PhanQuyenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_PhanQuyen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="pq" nillable="true" type="q33:Cls_PhanQuyen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_PhanQuyenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_PhanQuyenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_NguoiDung">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_NguoiDungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Load_NguoiDungResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_NguoiDung">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="nd" nillable="true" type="q34:Cls_NguoiDung" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_NguoiDungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_NguoiDungResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_NguoiDung">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="nd" nillable="true" type="q35:Cls_NguoiDung" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_NguoiDungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_NguoiDungResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_NguoiDung">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="nd" nillable="true" type="q36:Cls_NguoiDung" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_NguoiDungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_NguoiDungResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_KiLuat">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_KiLuatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Load_KiLuatResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_KiLuat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="kl" nillable="true" type="q37:Cls_KiLuat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_KiLuatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_KiLuatResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_KiLuat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="kl" nillable="true" type="q38:Cls_KiLuat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_KiLuatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_KiLuatResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_KiLuat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="kl" nillable="true" type="q39:Cls_KiLuat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_KiLuatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_KiLuatResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_CTKiLuat">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_CTKiLuatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Load_CTKiLuatResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_CTKiLuat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="ctkl" nillable="true" type="q40:Cls_CTKiLuat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_CTKiLuatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_CTKiLuatResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_CTKiLuat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="ctkl" nillable="true" type="q41:Cls_CTKiLuat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_CTKiLuatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_CTKiLuatResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_CTKiLuat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="ctkl" nillable="true" type="q42:Cls_CTKiLuat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_CTKiLuatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_CTKiLuatResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_KhenThuong">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_KhenThuongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Load_KhenThuongResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_KhenThuong">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="kt" nillable="true" type="q43:Cls_KhenThuong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_KhenThuongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_KhenThuongResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_KhenThuong">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="kt" nillable="true" type="q44:Cls_KhenThuong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_KhenThuongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_KhenThuongResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_KhenThuong">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="kt" nillable="true" type="q45:Cls_KhenThuong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_KhenThuongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_KhenThuongResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_CTKhenThuong">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_CTKhenThuongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Load_CTKhenThuongResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_CTKhenThuong">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="ctkt" nillable="true" type="q46:Cls_CTKhenThuong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_CTKhenThuongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_CTKhenThuongResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_CTKhenThuong">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="ctkt" nillable="true" type="q47:Cls_CTKhenThuong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_CTKhenThuongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_CTKhenThuongResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_CTKhenThuong">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="ctkt" nillable="true" type="q48:Cls_CTKhenThuong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_CTKhenThuongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_CTKhenThuongResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_ChuyenCongTac">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Load_ChuyenCongTacResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Load_ChuyenCongTacResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_ChuyenCongTac">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="cct" nillable="true" type="q49:Cls_ChuyenCongTac" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_ChuyenCongTacResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_ChuyenCongTacResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_ChuyenCongTac">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="cct" nillable="true" type="q50:Cls_ChuyenCongTac" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_ChuyenCongTacResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_ChuyenCongTacResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_ChuyenCongTac">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/QLNS_Service" minOccurs="0" name="cct" nillable="true" type="q51:Cls_ChuyenCongTac" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_ChuyenCongTacResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_ChuyenCongTacResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>