QLNS_Service/QLNS_WinForm/Service References/QLNS_ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="QLNS_Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/QLNS_Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQLNS_Service_Load_NhanVien_InputMessage">
    <wsdl:part name="parameters" element="tns:Load_NhanVien" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Load_NhanVien_OutputMessage">
    <wsdl:part name="parameters" element="tns:Load_NhanVienResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Add_NhanVien_InputMessage">
    <wsdl:part name="parameters" element="tns:Add_NhanVien" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Add_NhanVien_OutputMessage">
    <wsdl:part name="parameters" element="tns:Add_NhanVienResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Update_NhanVien_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_NhanVien" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Update_NhanVien_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_NhanVienResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Delete_NhanVien_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_NhanVien" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Delete_NhanVien_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_NhanVienResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Load_TrinhDo_InputMessage">
    <wsdl:part name="parameters" element="tns:Load_TrinhDo" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Load_TrinhDo_OutputMessage">
    <wsdl:part name="parameters" element="tns:Load_TrinhDoResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Add_TrinhDo_InputMessage">
    <wsdl:part name="parameters" element="tns:Add_TrinhDo" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Add_TrinhDo_OutputMessage">
    <wsdl:part name="parameters" element="tns:Add_TrinhDoResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Update_TrinhDo_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_TrinhDo" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Update_TrinhDo_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_TrinhDoResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Delete_TrinhDo_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_TrinhDo" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Delete_TrinhDo_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_TrinhDoResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Load_CTTrinhDo_InputMessage">
    <wsdl:part name="parameters" element="tns:Load_CTTrinhDo" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Load_CTTrinhDo_OutputMessage">
    <wsdl:part name="parameters" element="tns:Load_CTTrinhDoResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Add_CTTrinhDo_InputMessage">
    <wsdl:part name="parameters" element="tns:Add_CTTrinhDo" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Add_CTTrinhDo_OutputMessage">
    <wsdl:part name="parameters" element="tns:Add_CTTrinhDoResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Update_CTTrinhDo_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_CTTrinhDo" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Update_CTTrinhDo_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_CTTrinhDoResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Delete_CTTrinhDo_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_CTTrinhDo" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Delete_CTTrinhDo_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_CTTrinhDoResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Load_NgoaiNgu_InputMessage">
    <wsdl:part name="parameters" element="tns:Load_NgoaiNgu" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Load_NgoaiNgu_OutputMessage">
    <wsdl:part name="parameters" element="tns:Load_NgoaiNguResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Add_NgoaiNgu_InputMessage">
    <wsdl:part name="parameters" element="tns:Add_NgoaiNgu" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Add_NgoaiNgu_OutputMessage">
    <wsdl:part name="parameters" element="tns:Add_NgoaiNguResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Update_NgoaiNgu_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_NgoaiNgu" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Update_NgoaiNgu_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_NgoaiNguResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Delete_NgoaiNgu_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_NgoaiNgu" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Delete_NgoaiNgu_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_NgoaiNguResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Load_CTNgoaiNgu_InputMessage">
    <wsdl:part name="parameters" element="tns:Load_CTNgoaiNgu" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Load_CTNgoaiNgu_OutputMessage">
    <wsdl:part name="parameters" element="tns:Load_CTNgoaiNguResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Add_CTNgoaiNgu_InputMessage">
    <wsdl:part name="parameters" element="tns:Add_CTNgoaiNgu" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Add_CTNgoaiNgu_OutputMessage">
    <wsdl:part name="parameters" element="tns:Add_CTNgoaiNguResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Update_CTNgoaiNgu_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_CTNgoaiNgu" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Update_CTNgoaiNgu_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_CTNgoaiNguResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Delete_CTNgoaiNgu_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_CTNgoaiNgu" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Delete_CTNgoaiNgu_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_CTNgoaiNguResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Load_PhongBan_InputMessage">
    <wsdl:part name="parameters" element="tns:Load_PhongBan" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Load_PhongBan_OutputMessage">
    <wsdl:part name="parameters" element="tns:Load_PhongBanResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Add_PhongBan_InputMessage">
    <wsdl:part name="parameters" element="tns:Add_PhongBan" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Add_PhongBan_OutputMessage">
    <wsdl:part name="parameters" element="tns:Add_PhongBanResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Update_PhongBan_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_PhongBan" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Update_PhongBan_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_PhongBanResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Delete_PhongBan_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_PhongBan" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Delete_PhongBan_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_PhongBanResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Load_TonGiao_InputMessage">
    <wsdl:part name="parameters" element="tns:Load_TonGiao" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Load_TonGiao_OutputMessage">
    <wsdl:part name="parameters" element="tns:Load_TonGiaoResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Add_TonGiao_InputMessage">
    <wsdl:part name="parameters" element="tns:Add_TonGiao" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Add_TonGiao_OutputMessage">
    <wsdl:part name="parameters" element="tns:Add_TonGiaoResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Update_TonGiao_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_TonGiao" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Update_TonGiao_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_TonGiaoResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Delete_TonGiao_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_TonGiao" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Delete_TonGiao_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_TonGiaoResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Load_DanToc_InputMessage">
    <wsdl:part name="parameters" element="tns:Load_DanToc" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Load_DanToc_OutputMessage">
    <wsdl:part name="parameters" element="tns:Load_DanTocResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Add_DanToc_InputMessage">
    <wsdl:part name="parameters" element="tns:Add_DanToc" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Add_DanToc_OutputMessage">
    <wsdl:part name="parameters" element="tns:Add_DanTocResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Update_DanToc_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_DanToc" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Update_DanToc_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_DanTocResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Delete_DanToc_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_DanToc" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Delete_DanToc_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_DanTocResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Load_ChucVu_InputMessage">
    <wsdl:part name="parameters" element="tns:Load_ChucVu" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Load_ChucVu_OutputMessage">
    <wsdl:part name="parameters" element="tns:Load_ChucVuResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Add_ChucVu_InputMessage">
    <wsdl:part name="parameters" element="tns:Add_ChucVu" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Add_ChucVu_OutputMessage">
    <wsdl:part name="parameters" element="tns:Add_ChucVuResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Update_ChucVu_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_ChucVu" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Update_ChucVu_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_ChucVuResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Delete_ChucVu_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_ChucVu" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Delete_ChucVu_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_ChucVuResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Load_ThaiSan_InputMessage">
    <wsdl:part name="parameters" element="tns:Load_ThaiSan" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Load_ThaiSan_OutputMessage">
    <wsdl:part name="parameters" element="tns:Load_ThaiSanResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Add_ThaiSan_InputMessage">
    <wsdl:part name="parameters" element="tns:Add_ThaiSan" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Add_ThaiSan_OutputMessage">
    <wsdl:part name="parameters" element="tns:Add_ThaiSanResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Update_ThaiSan_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_ThaiSan" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Update_ThaiSan_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_ThaiSanResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Delete_ThaiSan_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_ThaiSan" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Delete_ThaiSan_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_ThaiSanResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Load_HopDong_InputMessage">
    <wsdl:part name="parameters" element="tns:Load_HopDong" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Load_HopDong_OutputMessage">
    <wsdl:part name="parameters" element="tns:Load_HopDongResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Add_HopDong_InputMessage">
    <wsdl:part name="parameters" element="tns:Add_HopDong" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Add_HopDong_OutputMessage">
    <wsdl:part name="parameters" element="tns:Add_HopDongResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Update_HopDong_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_HopDong" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Update_HopDong_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_HopDongResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Delete_HopDong_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_HopDong" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Delete_HopDong_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_HopDongResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Load_CTHopDong_InputMessage">
    <wsdl:part name="parameters" element="tns:Load_CTHopDong" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Load_CTHopDong_OutputMessage">
    <wsdl:part name="parameters" element="tns:Load_CTHopDongResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Add_CTHopDong_InputMessage">
    <wsdl:part name="parameters" element="tns:Add_CTHopDong" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Add_CTHopDong_OutputMessage">
    <wsdl:part name="parameters" element="tns:Add_CTHopDongResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Update_CTHopDong_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_CTHopDong" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Update_CTHopDong_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_CTHopDongResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Delete_CTHopDong_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_CTHopDong" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Delete_CTHopDong_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_CTHopDongResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Load_PhanQuyen_InputMessage">
    <wsdl:part name="parameters" element="tns:Load_PhanQuyen" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Load_PhanQuyen_OutputMessage">
    <wsdl:part name="parameters" element="tns:Load_PhanQuyenResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Add_PhanQuyen_InputMessage">
    <wsdl:part name="parameters" element="tns:Add_PhanQuyen" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Add_PhanQuyen_OutputMessage">
    <wsdl:part name="parameters" element="tns:Add_PhanQuyenResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Update_PhanQuyen_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_PhanQuyen" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Update_PhanQuyen_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_PhanQuyenResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Delete_PhanQuyen_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_PhanQuyen" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Delete_PhanQuyen_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_PhanQuyenResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Load_NguoiDung_InputMessage">
    <wsdl:part name="parameters" element="tns:Load_NguoiDung" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Load_NguoiDung_OutputMessage">
    <wsdl:part name="parameters" element="tns:Load_NguoiDungResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Add_NguoiDung_InputMessage">
    <wsdl:part name="parameters" element="tns:Add_NguoiDung" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Add_NguoiDung_OutputMessage">
    <wsdl:part name="parameters" element="tns:Add_NguoiDungResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Update_NguoiDung_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_NguoiDung" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Update_NguoiDung_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_NguoiDungResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Delete_NguoiDung_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_NguoiDung" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Delete_NguoiDung_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_NguoiDungResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Load_KiLuat_InputMessage">
    <wsdl:part name="parameters" element="tns:Load_KiLuat" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Load_KiLuat_OutputMessage">
    <wsdl:part name="parameters" element="tns:Load_KiLuatResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Add_KiLuat_InputMessage">
    <wsdl:part name="parameters" element="tns:Add_KiLuat" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Add_KiLuat_OutputMessage">
    <wsdl:part name="parameters" element="tns:Add_KiLuatResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Update_KiLuat_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_KiLuat" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Update_KiLuat_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_KiLuatResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Delete_KiLuat_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_KiLuat" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Delete_KiLuat_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_KiLuatResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Load_CTKiLuat_InputMessage">
    <wsdl:part name="parameters" element="tns:Load_CTKiLuat" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Load_CTKiLuat_OutputMessage">
    <wsdl:part name="parameters" element="tns:Load_CTKiLuatResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Add_CTKiLuat_InputMessage">
    <wsdl:part name="parameters" element="tns:Add_CTKiLuat" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Add_CTKiLuat_OutputMessage">
    <wsdl:part name="parameters" element="tns:Add_CTKiLuatResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Update_CTKiLuat_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_CTKiLuat" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Update_CTKiLuat_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_CTKiLuatResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Delete_CTKiLuat_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_CTKiLuat" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Delete_CTKiLuat_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_CTKiLuatResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Load_KhenThuong_InputMessage">
    <wsdl:part name="parameters" element="tns:Load_KhenThuong" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Load_KhenThuong_OutputMessage">
    <wsdl:part name="parameters" element="tns:Load_KhenThuongResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Add_KhenThuong_InputMessage">
    <wsdl:part name="parameters" element="tns:Add_KhenThuong" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Add_KhenThuong_OutputMessage">
    <wsdl:part name="parameters" element="tns:Add_KhenThuongResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Update_KhenThuong_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_KhenThuong" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Update_KhenThuong_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_KhenThuongResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Delete_KhenThuong_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_KhenThuong" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Delete_KhenThuong_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_KhenThuongResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Load_CTKhenThuong_InputMessage">
    <wsdl:part name="parameters" element="tns:Load_CTKhenThuong" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Load_CTKhenThuong_OutputMessage">
    <wsdl:part name="parameters" element="tns:Load_CTKhenThuongResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Add_CTKhenThuong_InputMessage">
    <wsdl:part name="parameters" element="tns:Add_CTKhenThuong" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Add_CTKhenThuong_OutputMessage">
    <wsdl:part name="parameters" element="tns:Add_CTKhenThuongResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Update_CTKhenThuong_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_CTKhenThuong" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Update_CTKhenThuong_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_CTKhenThuongResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Delete_CTKhenThuong_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_CTKhenThuong" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Delete_CTKhenThuong_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_CTKhenThuongResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Load_ChuyenCongTac_InputMessage">
    <wsdl:part name="parameters" element="tns:Load_ChuyenCongTac" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Load_ChuyenCongTac_OutputMessage">
    <wsdl:part name="parameters" element="tns:Load_ChuyenCongTacResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Add_ChuyenCongTac_InputMessage">
    <wsdl:part name="parameters" element="tns:Add_ChuyenCongTac" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Add_ChuyenCongTac_OutputMessage">
    <wsdl:part name="parameters" element="tns:Add_ChuyenCongTacResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Update_ChuyenCongTac_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_ChuyenCongTac" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Update_ChuyenCongTac_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_ChuyenCongTacResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Delete_ChuyenCongTac_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_ChuyenCongTac" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_Delete_ChuyenCongTac_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_ChuyenCongTacResponse" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_ktDangNhap_InputMessage">
    <wsdl:part name="parameters" element="tns:ktDangNhap" />
  </wsdl:message>
  <wsdl:message name="IQLNS_Service_ktDangNhap_OutputMessage">
    <wsdl:part name="parameters" element="tns:ktDangNhapResponse" />
  </wsdl:message>
  <wsdl:portType name="IQLNS_Service">
    <wsdl:operation name="Load_NhanVien">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Load_NhanVien" message="tns:IQLNS_Service_Load_NhanVien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Load_NhanVienResponse" message="tns:IQLNS_Service_Load_NhanVien_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add_NhanVien">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Add_NhanVien" message="tns:IQLNS_Service_Add_NhanVien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Add_NhanVienResponse" message="tns:IQLNS_Service_Add_NhanVien_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_NhanVien">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Update_NhanVien" message="tns:IQLNS_Service_Update_NhanVien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Update_NhanVienResponse" message="tns:IQLNS_Service_Update_NhanVien_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_NhanVien">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Delete_NhanVien" message="tns:IQLNS_Service_Delete_NhanVien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Delete_NhanVienResponse" message="tns:IQLNS_Service_Delete_NhanVien_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Load_TrinhDo">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Load_TrinhDo" message="tns:IQLNS_Service_Load_TrinhDo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Load_TrinhDoResponse" message="tns:IQLNS_Service_Load_TrinhDo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add_TrinhDo">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Add_TrinhDo" message="tns:IQLNS_Service_Add_TrinhDo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Add_TrinhDoResponse" message="tns:IQLNS_Service_Add_TrinhDo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_TrinhDo">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Update_TrinhDo" message="tns:IQLNS_Service_Update_TrinhDo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Update_TrinhDoResponse" message="tns:IQLNS_Service_Update_TrinhDo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_TrinhDo">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Delete_TrinhDo" message="tns:IQLNS_Service_Delete_TrinhDo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Delete_TrinhDoResponse" message="tns:IQLNS_Service_Delete_TrinhDo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Load_CTTrinhDo">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Load_CTTrinhDo" message="tns:IQLNS_Service_Load_CTTrinhDo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Load_CTTrinhDoResponse" message="tns:IQLNS_Service_Load_CTTrinhDo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add_CTTrinhDo">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Add_CTTrinhDo" message="tns:IQLNS_Service_Add_CTTrinhDo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Add_CTTrinhDoResponse" message="tns:IQLNS_Service_Add_CTTrinhDo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_CTTrinhDo">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Update_CTTrinhDo" message="tns:IQLNS_Service_Update_CTTrinhDo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Update_CTTrinhDoResponse" message="tns:IQLNS_Service_Update_CTTrinhDo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_CTTrinhDo">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Delete_CTTrinhDo" message="tns:IQLNS_Service_Delete_CTTrinhDo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Delete_CTTrinhDoResponse" message="tns:IQLNS_Service_Delete_CTTrinhDo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Load_NgoaiNgu">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Load_NgoaiNgu" message="tns:IQLNS_Service_Load_NgoaiNgu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Load_NgoaiNguResponse" message="tns:IQLNS_Service_Load_NgoaiNgu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add_NgoaiNgu">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Add_NgoaiNgu" message="tns:IQLNS_Service_Add_NgoaiNgu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Add_NgoaiNguResponse" message="tns:IQLNS_Service_Add_NgoaiNgu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_NgoaiNgu">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Update_NgoaiNgu" message="tns:IQLNS_Service_Update_NgoaiNgu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Update_NgoaiNguResponse" message="tns:IQLNS_Service_Update_NgoaiNgu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_NgoaiNgu">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Delete_NgoaiNgu" message="tns:IQLNS_Service_Delete_NgoaiNgu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Delete_NgoaiNguResponse" message="tns:IQLNS_Service_Delete_NgoaiNgu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Load_CTNgoaiNgu">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Load_CTNgoaiNgu" message="tns:IQLNS_Service_Load_CTNgoaiNgu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Load_CTNgoaiNguResponse" message="tns:IQLNS_Service_Load_CTNgoaiNgu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add_CTNgoaiNgu">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Add_CTNgoaiNgu" message="tns:IQLNS_Service_Add_CTNgoaiNgu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Add_CTNgoaiNguResponse" message="tns:IQLNS_Service_Add_CTNgoaiNgu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_CTNgoaiNgu">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Update_CTNgoaiNgu" message="tns:IQLNS_Service_Update_CTNgoaiNgu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Update_CTNgoaiNguResponse" message="tns:IQLNS_Service_Update_CTNgoaiNgu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_CTNgoaiNgu">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Delete_CTNgoaiNgu" message="tns:IQLNS_Service_Delete_CTNgoaiNgu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Delete_CTNgoaiNguResponse" message="tns:IQLNS_Service_Delete_CTNgoaiNgu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Load_PhongBan">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Load_PhongBan" message="tns:IQLNS_Service_Load_PhongBan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Load_PhongBanResponse" message="tns:IQLNS_Service_Load_PhongBan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add_PhongBan">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Add_PhongBan" message="tns:IQLNS_Service_Add_PhongBan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Add_PhongBanResponse" message="tns:IQLNS_Service_Add_PhongBan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_PhongBan">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Update_PhongBan" message="tns:IQLNS_Service_Update_PhongBan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Update_PhongBanResponse" message="tns:IQLNS_Service_Update_PhongBan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_PhongBan">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Delete_PhongBan" message="tns:IQLNS_Service_Delete_PhongBan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Delete_PhongBanResponse" message="tns:IQLNS_Service_Delete_PhongBan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Load_TonGiao">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Load_TonGiao" message="tns:IQLNS_Service_Load_TonGiao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Load_TonGiaoResponse" message="tns:IQLNS_Service_Load_TonGiao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add_TonGiao">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Add_TonGiao" message="tns:IQLNS_Service_Add_TonGiao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Add_TonGiaoResponse" message="tns:IQLNS_Service_Add_TonGiao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_TonGiao">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Update_TonGiao" message="tns:IQLNS_Service_Update_TonGiao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Update_TonGiaoResponse" message="tns:IQLNS_Service_Update_TonGiao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_TonGiao">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Delete_TonGiao" message="tns:IQLNS_Service_Delete_TonGiao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Delete_TonGiaoResponse" message="tns:IQLNS_Service_Delete_TonGiao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Load_DanToc">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Load_DanToc" message="tns:IQLNS_Service_Load_DanToc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Load_DanTocResponse" message="tns:IQLNS_Service_Load_DanToc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add_DanToc">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Add_DanToc" message="tns:IQLNS_Service_Add_DanToc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Add_DanTocResponse" message="tns:IQLNS_Service_Add_DanToc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_DanToc">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Update_DanToc" message="tns:IQLNS_Service_Update_DanToc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Update_DanTocResponse" message="tns:IQLNS_Service_Update_DanToc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_DanToc">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Delete_DanToc" message="tns:IQLNS_Service_Delete_DanToc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Delete_DanTocResponse" message="tns:IQLNS_Service_Delete_DanToc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Load_ChucVu">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Load_ChucVu" message="tns:IQLNS_Service_Load_ChucVu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Load_ChucVuResponse" message="tns:IQLNS_Service_Load_ChucVu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add_ChucVu">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Add_ChucVu" message="tns:IQLNS_Service_Add_ChucVu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Add_ChucVuResponse" message="tns:IQLNS_Service_Add_ChucVu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_ChucVu">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Update_ChucVu" message="tns:IQLNS_Service_Update_ChucVu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Update_ChucVuResponse" message="tns:IQLNS_Service_Update_ChucVu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_ChucVu">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Delete_ChucVu" message="tns:IQLNS_Service_Delete_ChucVu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Delete_ChucVuResponse" message="tns:IQLNS_Service_Delete_ChucVu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Load_ThaiSan">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Load_ThaiSan" message="tns:IQLNS_Service_Load_ThaiSan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Load_ThaiSanResponse" message="tns:IQLNS_Service_Load_ThaiSan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add_ThaiSan">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Add_ThaiSan" message="tns:IQLNS_Service_Add_ThaiSan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Add_ThaiSanResponse" message="tns:IQLNS_Service_Add_ThaiSan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_ThaiSan">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Update_ThaiSan" message="tns:IQLNS_Service_Update_ThaiSan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Update_ThaiSanResponse" message="tns:IQLNS_Service_Update_ThaiSan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_ThaiSan">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Delete_ThaiSan" message="tns:IQLNS_Service_Delete_ThaiSan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Delete_ThaiSanResponse" message="tns:IQLNS_Service_Delete_ThaiSan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Load_HopDong">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Load_HopDong" message="tns:IQLNS_Service_Load_HopDong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Load_HopDongResponse" message="tns:IQLNS_Service_Load_HopDong_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add_HopDong">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Add_HopDong" message="tns:IQLNS_Service_Add_HopDong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Add_HopDongResponse" message="tns:IQLNS_Service_Add_HopDong_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_HopDong">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Update_HopDong" message="tns:IQLNS_Service_Update_HopDong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Update_HopDongResponse" message="tns:IQLNS_Service_Update_HopDong_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_HopDong">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Delete_HopDong" message="tns:IQLNS_Service_Delete_HopDong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Delete_HopDongResponse" message="tns:IQLNS_Service_Delete_HopDong_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Load_CTHopDong">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Load_CTHopDong" message="tns:IQLNS_Service_Load_CTHopDong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Load_CTHopDongResponse" message="tns:IQLNS_Service_Load_CTHopDong_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add_CTHopDong">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Add_CTHopDong" message="tns:IQLNS_Service_Add_CTHopDong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Add_CTHopDongResponse" message="tns:IQLNS_Service_Add_CTHopDong_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_CTHopDong">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Update_CTHopDong" message="tns:IQLNS_Service_Update_CTHopDong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Update_CTHopDongResponse" message="tns:IQLNS_Service_Update_CTHopDong_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_CTHopDong">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Delete_CTHopDong" message="tns:IQLNS_Service_Delete_CTHopDong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Delete_CTHopDongResponse" message="tns:IQLNS_Service_Delete_CTHopDong_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Load_PhanQuyen">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Load_PhanQuyen" message="tns:IQLNS_Service_Load_PhanQuyen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Load_PhanQuyenResponse" message="tns:IQLNS_Service_Load_PhanQuyen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add_PhanQuyen">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Add_PhanQuyen" message="tns:IQLNS_Service_Add_PhanQuyen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Add_PhanQuyenResponse" message="tns:IQLNS_Service_Add_PhanQuyen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_PhanQuyen">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Update_PhanQuyen" message="tns:IQLNS_Service_Update_PhanQuyen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Update_PhanQuyenResponse" message="tns:IQLNS_Service_Update_PhanQuyen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_PhanQuyen">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Delete_PhanQuyen" message="tns:IQLNS_Service_Delete_PhanQuyen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Delete_PhanQuyenResponse" message="tns:IQLNS_Service_Delete_PhanQuyen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Load_NguoiDung">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Load_NguoiDung" message="tns:IQLNS_Service_Load_NguoiDung_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Load_NguoiDungResponse" message="tns:IQLNS_Service_Load_NguoiDung_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add_NguoiDung">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Add_NguoiDung" message="tns:IQLNS_Service_Add_NguoiDung_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Add_NguoiDungResponse" message="tns:IQLNS_Service_Add_NguoiDung_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_NguoiDung">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Update_NguoiDung" message="tns:IQLNS_Service_Update_NguoiDung_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Update_NguoiDungResponse" message="tns:IQLNS_Service_Update_NguoiDung_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_NguoiDung">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Delete_NguoiDung" message="tns:IQLNS_Service_Delete_NguoiDung_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Delete_NguoiDungResponse" message="tns:IQLNS_Service_Delete_NguoiDung_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Load_KiLuat">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Load_KiLuat" message="tns:IQLNS_Service_Load_KiLuat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Load_KiLuatResponse" message="tns:IQLNS_Service_Load_KiLuat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add_KiLuat">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Add_KiLuat" message="tns:IQLNS_Service_Add_KiLuat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Add_KiLuatResponse" message="tns:IQLNS_Service_Add_KiLuat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_KiLuat">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Update_KiLuat" message="tns:IQLNS_Service_Update_KiLuat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Update_KiLuatResponse" message="tns:IQLNS_Service_Update_KiLuat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_KiLuat">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Delete_KiLuat" message="tns:IQLNS_Service_Delete_KiLuat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Delete_KiLuatResponse" message="tns:IQLNS_Service_Delete_KiLuat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Load_CTKiLuat">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Load_CTKiLuat" message="tns:IQLNS_Service_Load_CTKiLuat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Load_CTKiLuatResponse" message="tns:IQLNS_Service_Load_CTKiLuat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add_CTKiLuat">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Add_CTKiLuat" message="tns:IQLNS_Service_Add_CTKiLuat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Add_CTKiLuatResponse" message="tns:IQLNS_Service_Add_CTKiLuat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_CTKiLuat">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Update_CTKiLuat" message="tns:IQLNS_Service_Update_CTKiLuat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Update_CTKiLuatResponse" message="tns:IQLNS_Service_Update_CTKiLuat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_CTKiLuat">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Delete_CTKiLuat" message="tns:IQLNS_Service_Delete_CTKiLuat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Delete_CTKiLuatResponse" message="tns:IQLNS_Service_Delete_CTKiLuat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Load_KhenThuong">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Load_KhenThuong" message="tns:IQLNS_Service_Load_KhenThuong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Load_KhenThuongResponse" message="tns:IQLNS_Service_Load_KhenThuong_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add_KhenThuong">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Add_KhenThuong" message="tns:IQLNS_Service_Add_KhenThuong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Add_KhenThuongResponse" message="tns:IQLNS_Service_Add_KhenThuong_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_KhenThuong">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Update_KhenThuong" message="tns:IQLNS_Service_Update_KhenThuong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Update_KhenThuongResponse" message="tns:IQLNS_Service_Update_KhenThuong_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_KhenThuong">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Delete_KhenThuong" message="tns:IQLNS_Service_Delete_KhenThuong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Delete_KhenThuongResponse" message="tns:IQLNS_Service_Delete_KhenThuong_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Load_CTKhenThuong">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Load_CTKhenThuong" message="tns:IQLNS_Service_Load_CTKhenThuong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Load_CTKhenThuongResponse" message="tns:IQLNS_Service_Load_CTKhenThuong_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add_CTKhenThuong">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Add_CTKhenThuong" message="tns:IQLNS_Service_Add_CTKhenThuong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Add_CTKhenThuongResponse" message="tns:IQLNS_Service_Add_CTKhenThuong_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_CTKhenThuong">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Update_CTKhenThuong" message="tns:IQLNS_Service_Update_CTKhenThuong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Update_CTKhenThuongResponse" message="tns:IQLNS_Service_Update_CTKhenThuong_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_CTKhenThuong">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Delete_CTKhenThuong" message="tns:IQLNS_Service_Delete_CTKhenThuong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Delete_CTKhenThuongResponse" message="tns:IQLNS_Service_Delete_CTKhenThuong_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Load_ChuyenCongTac">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Load_ChuyenCongTac" message="tns:IQLNS_Service_Load_ChuyenCongTac_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Load_ChuyenCongTacResponse" message="tns:IQLNS_Service_Load_ChuyenCongTac_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add_ChuyenCongTac">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Add_ChuyenCongTac" message="tns:IQLNS_Service_Add_ChuyenCongTac_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Add_ChuyenCongTacResponse" message="tns:IQLNS_Service_Add_ChuyenCongTac_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_ChuyenCongTac">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Update_ChuyenCongTac" message="tns:IQLNS_Service_Update_ChuyenCongTac_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Update_ChuyenCongTacResponse" message="tns:IQLNS_Service_Update_ChuyenCongTac_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_ChuyenCongTac">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/Delete_ChuyenCongTac" message="tns:IQLNS_Service_Delete_ChuyenCongTac_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/Delete_ChuyenCongTacResponse" message="tns:IQLNS_Service_Delete_ChuyenCongTac_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ktDangNhap">
      <wsdl:input wsaw:Action="http://tempuri.org/IQLNS_Service/ktDangNhap" message="tns:IQLNS_Service_ktDangNhap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQLNS_Service/ktDangNhapResponse" message="tns:IQLNS_Service_ktDangNhap_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IQLNS_Service" type="tns:IQLNS_Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Load_NhanVien">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Load_NhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_NhanVien">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Add_NhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_NhanVien">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Update_NhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_NhanVien">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Delete_NhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Load_TrinhDo">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Load_TrinhDo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_TrinhDo">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Add_TrinhDo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_TrinhDo">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Update_TrinhDo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_TrinhDo">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Delete_TrinhDo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Load_CTTrinhDo">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Load_CTTrinhDo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_CTTrinhDo">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Add_CTTrinhDo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_CTTrinhDo">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Update_CTTrinhDo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_CTTrinhDo">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Delete_CTTrinhDo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Load_NgoaiNgu">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Load_NgoaiNgu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_NgoaiNgu">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Add_NgoaiNgu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_NgoaiNgu">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Update_NgoaiNgu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_NgoaiNgu">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Delete_NgoaiNgu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Load_CTNgoaiNgu">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Load_CTNgoaiNgu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_CTNgoaiNgu">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Add_CTNgoaiNgu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_CTNgoaiNgu">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Update_CTNgoaiNgu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_CTNgoaiNgu">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Delete_CTNgoaiNgu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Load_PhongBan">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Load_PhongBan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_PhongBan">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Add_PhongBan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_PhongBan">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Update_PhongBan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_PhongBan">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Delete_PhongBan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Load_TonGiao">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Load_TonGiao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_TonGiao">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Add_TonGiao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_TonGiao">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Update_TonGiao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_TonGiao">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Delete_TonGiao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Load_DanToc">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Load_DanToc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_DanToc">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Add_DanToc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_DanToc">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Update_DanToc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_DanToc">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Delete_DanToc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Load_ChucVu">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Load_ChucVu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_ChucVu">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Add_ChucVu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_ChucVu">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Update_ChucVu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_ChucVu">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Delete_ChucVu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Load_ThaiSan">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Load_ThaiSan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_ThaiSan">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Add_ThaiSan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_ThaiSan">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Update_ThaiSan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_ThaiSan">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Delete_ThaiSan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Load_HopDong">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Load_HopDong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_HopDong">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Add_HopDong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_HopDong">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Update_HopDong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_HopDong">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Delete_HopDong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Load_CTHopDong">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Load_CTHopDong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_CTHopDong">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Add_CTHopDong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_CTHopDong">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Update_CTHopDong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_CTHopDong">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Delete_CTHopDong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Load_PhanQuyen">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Load_PhanQuyen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_PhanQuyen">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Add_PhanQuyen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_PhanQuyen">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Update_PhanQuyen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_PhanQuyen">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Delete_PhanQuyen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Load_NguoiDung">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Load_NguoiDung" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_NguoiDung">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Add_NguoiDung" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_NguoiDung">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Update_NguoiDung" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_NguoiDung">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Delete_NguoiDung" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Load_KiLuat">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Load_KiLuat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_KiLuat">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Add_KiLuat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_KiLuat">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Update_KiLuat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_KiLuat">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Delete_KiLuat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Load_CTKiLuat">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Load_CTKiLuat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_CTKiLuat">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Add_CTKiLuat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_CTKiLuat">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Update_CTKiLuat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_CTKiLuat">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Delete_CTKiLuat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Load_KhenThuong">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Load_KhenThuong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_KhenThuong">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Add_KhenThuong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_KhenThuong">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Update_KhenThuong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_KhenThuong">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Delete_KhenThuong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Load_CTKhenThuong">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Load_CTKhenThuong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_CTKhenThuong">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Add_CTKhenThuong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_CTKhenThuong">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Update_CTKhenThuong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_CTKhenThuong">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Delete_CTKhenThuong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Load_ChuyenCongTac">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Load_ChuyenCongTac" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_ChuyenCongTac">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Add_ChuyenCongTac" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_ChuyenCongTac">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Update_ChuyenCongTac" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_ChuyenCongTac">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/Delete_ChuyenCongTac" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ktDangNhap">
      <soap:operation soapAction="http://tempuri.org/IQLNS_Service/ktDangNhap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QLNS_Service">
    <wsdl:port name="BasicHttpBinding_IQLNS_Service" binding="tns:BasicHttpBinding_IQLNS_Service">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/QLNS_Service/QLNS_Service/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>